
<div class="container " >
    <div class="row one">
        <div class="col">
                <div class="card-body">
                    <form class="row g-3"  (ngSubmit)="getUserRepo()" #k="ngForm" id="form" >
                        <div class="col-md-6"  >
                            <div class="form-group">
                                <input class="form-control form-control-lg" type="text" placeholder="Search user repos..." ngModel name="search" #seach="ngModel" aria-label=".form-control-lg example">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <input class="btn btn-primary" type="submit" value="search" >
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row rep">
            <div class="col-md-4 card ayub" *ngFor="let repos of userRepo">
                <div class="car">
                <h3><u>{{repos?.name|uppercase}}</u></h3> 
                </div>
                <div class="car">
                 {{repos?.description}}
                </div>
                <div class="car">
                 Created on: {{repos?.created_at|date}}
                </div>
                <div class="car">
                 <a href=" {{repos?.html_url}}" target="_blank"><i class="fas fa-hand-pointer">See Repo</i></a>
                </div>
             </div>
        </div>
    </div>

    