<div class="container mt-3" >
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <form class="row g-3" (ngSubmit)="searchUser()" #j="ngForm"  >
                        <div class="col-md-6"  >
                            <div class="form-group">
                                <input class="form-control form-control-lg" type="text" name="search" ngModel #search="ngModel" placeholder="Search Username..." aria-label=".form-control-lg example">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <input class="btn btn-primary" type="submit" value="search" >
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



<div class="container" >
    <div class="row">
        <div class="col-md-6">
            <div class="card" >
                {{userData?.login}} 
            </div>
        </div>
    </div>
</div>
