
.container{
    margin-top: 30px;
    background-color: darksalmon;
}
img{
    height: 40%;
    width: 40%;
    border-radius: 50%;
}
#user{
    margin-top: 20px;
    filter: drop-shadow(2px 4px 8px #585858);
}

