img{
    border-radius: 50%;
    height: 90%;
    width: 90%;
}
h1{
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}
.card{
    background-color: #4E9F3D;
    border-color: white;
    filter: drop-shadow(2px 4px 8px #585858);
    margin-bottom: 10px;
    padding: 1rem;
    color: white;
    align-items: center;
    margin-top: 10px;
}
.card:hover{
    filter: drop-shadow(2px 4px 8px greenyellow);
}
a{
    text-decoration: none;
    color: #193498;
    background-color: #D8E9A8;
    font-size: larger;
    font-weight: 300;
    border-radius: 8px;
    filter: drop-shadow(2px 4px 8px #585858);
}
a:hover{
    background-color: #1597E5;
    filter: drop-shadow(2px 4px 8px greenyellow);
}
